<h1><%= @idea.desc %></h1>
<div class="center">
  <a href="/ideas/<%= @idea.id %>/edit">edit</a> |
  <a href="/ideas/<%= @idea.id %>/destroy">destroy</a>
</div>

<ul>
<% @idea.comments.each do |comment| %>
  <li><%= comment.contents %> <a href="/comments/<%= comment.id %>">show</a></li>
<% end %>
</ul>